.top-offset{
    margin-top: 70px;
}
.list-group-item:hover{
    color: #ff337d!important;
}
.search-suggestion{
    position: relative;
    z-index: 10;
}
.search-suggestion-ul{
    position: absolute;
    width: 85%;
}
.btn-header-search {
    background: #ff337d;
    color: #fff;
    font-size: 16px;
}
.input-group .form-control:focus{
    outline: none;
    box-shadow: none;
}

.btn-header-search:hover,
.btn-header-search:focus{
    outline: 0;
    box-shadow: none;
}