.top-offset{
    margin-top: 70px;
}
.list-group-item:hover{
    color: #ff337d!important;
}
.search-suggestion{
    position: relative;
}
.search-suggestion-ul{
    position: absolute;
    width: 85%;
}