.top-offset{
    margin-top: 70px;
}
.list-group-item:hover{
    color: #ff337d!important;
}
.search-suggestion{
    position: relative;
}
.search-suggestion-ul{
    position: absolute;
    width: 85%;
}
.btn-header-search {
    background: #ff337d;
    color: #fff;
    font-size: 16px;
}
*:focus {
    outline: none;
}